<?xml version="1.0" encoding="UTF-8"?>
<plugin
   name="GammaStatechart simulator"                            
   id="com.triad.school.gamma.simulator.ui"
   version="1.0.0"
   provider-name="OTI">

<requires>
        <import plugin="org.eclipse.core.boot"/>
        <import plugin="org.eclipse.core.runtime"/>
        <import plugin="org.eclipse.core.resources"/>
        <import plugin="org.eclipse.swt"/>
        <import plugin="org.eclipse.ui"/>
</requires>

<runtime>
        <library name="com.triad.school.gamma.simulator.ui.jar"/>
</runtime>
<extension
      point="org.eclipse.ui.views">
   <category
         id="com.triad.school.gamma.simulator.ui"
         name="Gamma">
   </category>
   <view
         category="com.triad.school.gamma.simulator.ui"
         class="com.triad.school.gamma.simulator.ui.views.GammaStatechartSimulator"
         icon="icons/gamma-simulator-icon-16.png"
         id="com.triad.school.gamma.simulator.ui.views.GammaStatechartSimulator"
         inject="true"
         name="GammaStatechart Simulator">
   </view>
</extension>

</plugin>
