<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.triad.com/school/gamma/simulator/model"
            class="com.triad.school.gamma.simulator.model.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
