<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.triad.school.gamma.simulator.query.FireableTransitions" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.triad.school.gamma.simulator.query.FireableTransitions" id="com.triad.school.gamma.simulator.query.FireableTransitions">
      <query-specification fqn="com.triad.school.gamma.simulator.query.rootRegion"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.subRegion"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.associatedRegionalActiveState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.activeState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.regionalState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.statechartInputPort"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.allStates"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.entryState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.compositeState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.descendantState"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.fireableEmptyTransition"/>
      <query-specification fqn="com.triad.school.gamma.simulator.query.fireableTriggerTransition"/>
    </group>
  </extension>
</plugin>
